.body{
    background-color: aqua;


    
}
.headline{
    background-color: blue;
}

.product{
    background-color: antiquewhite;
    padding- right:200px;
    border:2px solid black;
    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr;
    grid-template-rows: 300px 1fr ;
    column-gap: 20px;
    row-gap:20px;
}

.price{
   border:2px solid black;
}


.colors{
    
   border:2px solid black;

}
.color{
background-color: black;
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;   
    
}

.color-green{
    background-color: green;
    height: 50px;
    width: 50px;
    
    
}

.color-white{
    background-color: white;
}

.color-pink{
    background-color: pink;
}
.color-blue{
    background-color: blue;
}

.details{
   
    border:2px solid black;

}

.cart{
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top:20px;
    
    border:2px solid black;
}
